<div ng-controller="todos-ctrl as todos">

	<div id="main_manager" class="container-fluid">
	  <div class="row">
	  	<!-- members -->
			<div class="col-md-4">
				<h1> Members</h1>
			<input class="form-input" placholder="Add Member" ng-model="todos.singleMember"/>
			<button class="btn btn-primary" ng-click="todos.addMember(todos.singleMember)">Add</button>
				<div ng-repeat="member in todos.members">
					<p>{{member.name}} <button class="btn">Remove</button></p>
				</div>
			</div>
			<div class="col-md-4">
				<h1> Tasks</h1>
			<input class="form-input" placholder="Add Task" ng-model="todos.singleTask"/>
			<button class="btn btn-primary" ng-click="todos.addTask(todos.singleTask)">Add</button>
				<div ng-repeat="task in todos.tasks">
					<p>{{task.title}}</p>
				</div>
			</div>
			<div class="col-md-4">
				<h1>Completed</h1>
			</div>
	  </div>
	</div>


</div>